{% extends "base.html" %}
{% load static %}
{% block page_content %}
<div class="features">
  <h1> Мерседес </h1>
  <q>   </q>
  <button class="btn btn-worning"> </button>
</div>

 <div class="row no-gutters">
 {% for project in projects %}
    <div class="col-md-3">
      <div class="card md-5">
        <img class="card-img-top" src="{% static project.image %}" height="300">
        <div class="card-body" style="height: 170px;">
          <div style="display: table-cell; vertical-align: middle;">
            <h5 class="card-title">{{ project.title }}</h5>
            <p class="card-text">{{ project.description | slice:":150"}}...</p>
            <div style="position: absolute; bottom: 10;">
              <a href="{% url 'project_detail'  project.pk %}" class="btn btn-primary">
              Подробнее
            </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
 </div>


{%endblock%}